<router-outlet></router-outlet>
<!-- <ng-container>
  <table border="2">
          <thead>
              <th>Id</th>
              <th>Name</th>
              <th>Age</th>
              <th>Class</th>
              <th>Action</th>
          </thead>
              <tbody>
          
                  <tr *ngFor="let data of empDetails ; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{data.name}}</td>
                      <td>{{data.class}}</td>
                      <td>{{data.age}}</td>
                      <td>
                          <input type="submit"  (click)="getEmployeeDetails(data)" value="Get Details"/>
                      </td>
                  </tr>
              </tbody>
  </table>
  </ng-container>
  <ng-container>
  <table border="1">
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
              <th>Location</th>
              <th>Status</th>
             
          </tr>
      </thead>
      <tbody>
          
              <tr *ngFor="let data of product ; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{data.name}}</td>
                  <td>{{data.description}}</td>
                  <td>{{data.location}}</td>
                   <td>{{data.Status}}</td>
                 
                  
              </tr>
      </tbody>
  </table>

  
  <ng-container  *ngIf="employeeDetails">
    <h3>Selected Employee details  {{employeeDetails.name}}</h3>
    <div>Name: {{ employeeDetails.name}}</div>
    <div>Age: {{ employeeDetails.age}}</div>
    <div>Class: {{ employeeDetails.class}}</div> 
    </ng-container>
  </ng-container> -->
